* {
    margin: 0;
}

/*
    marrom escuro #432004
    amarelo #fdc700
*/

.wrappler {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 12%;
    background-color: #f9fafb;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    width: 50%;
    height: 50px;
    /*background-color: aquamarine;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: #432004;
    transition: color 500ms ease;
}

.active {
    color: #fdc700;
}

footer {
    width: 100%;
    height: 8%;
    background-color: rgb(236, 236, 236);
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    width: 300%;
    height: 80%;
    transition: all 1s ease;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.view {
    /*visualização*/
    width: 100%;
    height: 30%;
    background-color: black;
    display: flex;
    justify-content: space-around;
}

.view-part {
    width: 30%;
    height: 100%;
    background: radial-gradient(circle, rgba(90, 90, 90, 1) 0%, rgba(69, 59, 59, 1) 50%, rgba(0, 0, 0, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    /*seções de opções*/
    width: 30%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.control,
.code {
    min-width: 500px;
    height: 90%;
    border-radius: 5%;
    background-color: #f9fafb;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* controle */
.vars {
    width: 450px;
    height: 250px;
    background-color: #fdc700;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.var{
    width: 120px;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.barr {
    width: 400px;
    height: 80px;
    background-color: #432004;
}

/* arrays */
.array-container {
    height: auto;
    min-width: 400px;
    max-width: 800px;
    overflow-x: scroll;
    min-height: 80px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.arrayItem {
    min-width: 50px;
    min-height: 50px;
    background-color: #fdc700;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px 0 10px;
    transition: background-color 300ms ease;
}

.comparing {
    background-color:#fff085;
}

.minor {
    background-color:#ffa2a2;
}

.major {
    background-color:#ff6467;
}

.sorted {
    background-color:#7bf1a8;
}

