* {
    margin: 0;
}

/*
    marrom escuro #432004
    amarelo #fdc700
*/

.wrappler {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 12%;
    background-color: #f9fafb;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    width: 50%;
    height: 50px;
    /*background-color: aquamarine;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: #432004;
    transition: color 500ms ease;
    user-select: none;
}

.active {
    color: #fdc700;
}

footer {
    width: 100%;
    height: 8%;
    background-color: rgb(236, 236, 236);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img{
    width: 15px;
    margin-left: 8px;
}

footer *{
    user-select: none;
}

.slider {
    width: 300%;
    height: 80%;
    transition: all 1s ease;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* background-color: #ffa2a2; */
}

.view {
    /*visualização*/
    width: 100%;
    height: 30%;
    background-color: black;
    display: flex;
    justify-content: space-around;
}

.view-part {
    width: 30%;
    height: 100%;
    background: radial-gradient(circle, rgba(90, 90, 90, 1) 0%, rgba(69, 59, 59, 1) 50%, rgba(0, 0, 0, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    /*seções de opções*/
    width: 30%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* background-color: #ff6467; */
}

.control,
.code {
    min-width: 500px;
    height: 90%;
    border-radius: 5%;
    background-color: #f9fafb;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}

.code p{
    text-align: justify;
    width: 400px;
    background-color: #27272a;
    color: white;
    user-select: none;
    padding: 3px 5px 3px 5px;
}

/* IDENTAÇÃO CÓDIGO BUBBLE SORT*/
/* problema de confusão entre linhas de seções diferentes resolvido especificando o seletor de todas as linhas da #sec1 .code */
#sec1 .code #line-2, #sec1 .code #line-12{
    text-indent: 10px;
}
#sec1 .code #line-3, #sec1 .code #line-11{
    text-indent: 20px;
}
#sec1 .code #line-4, #sec1 .code #line-10{
    text-indent: 30px;
}
#sec1 .code #line-5{
    text-indent: 40px;
}
#sec1 .code #line-6, #sec1 .code #line-7, #sec1 .code #line-8, #sec1 .code #line-9{
    text-indent: 50px;
}

/* IDENTAÇÃO CÓDIGO INSERTION SORT*/
#sec2 .code p{
    font-size: 12px;
}

#sec2 .code #line-2, #line-3, #line-4{
    text-indent: 10px;
}
#sec2 .code #line-5, #line-14{
    text-indent: 20px;
}
#sec2 .code #line-6, #line-7{
    text-indent: 30px;
}
#sec2 .code #line-8, #line-11{
    text-indent: 40px;
}
#sec2 .code #line-9, #line-10{
    text-indent: 50px;
}
#sec2 .code #line-13, #line-12{
    text-indent: 20px;
}

/* IDENTAÇÃO CÓDIGO SELECTION SORT */
#sec3 .code p{
    font-size: 10px;
}

#sec3 .code #line-2, #line-3, #line-4, #line-5, #line-6{
    text-indent: 10px;
}

#sec3 .code #line-, #line-18{
    text-indent: 20px;
}

#sec3 .code #line-8, #line-17{
    text-indent: 30px;
}

#sec3 .code #line-9, #line-11, #line-12, #line-16{
    text-indent: 40px;
}

#sec3 .code #line-13, #line-14, #line-15{
    text-indent: 50px;
}

/* controle */
.vars {
    width: 450px;
    height: 250px;
    /*background-color: #fdc700;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.var{
    width: 120px;
    height: 50px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    user-select: none;
}

.var strong{
    font-size: 16px;
}

.var em{
    font-size: 12px;
}


.barr {
    width: 500px;
    height: 80px;
    /* background-color: #432004; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.barr button{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    font-size: 100%;
    user-select: none;
}

.barr button:active{
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

/* arrays */
.array-container {
    height: auto;
    min-width: 400px;
    max-width: 800px;
    overflow-x: scroll;
    min-height: 80px;
    /* background-color: white; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* largura da barra */
::-webkit-scrollbar {
  width: 10px;
}

/* fundo da barra */
::-webkit-scrollbar-track {
  /* background: #f1f1f1; */
}

/* parte que se move */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}



.arrayItem {
    user-select: none;
    min-width: 50px;
    min-height: 50px;
    background-color: #fdc700;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px 0 10px;
    transition: background-color 300ms ease;
    transition: transform 300ms ease-in-out;
    color: #432004;
    font-weight: bold;
}

.comparing {
    background-color:#fff085;
    transform: scale(1);
}

.minor {
    background-color:#ffa2a2;
    transform: scale(0.9);
}

.major {
    background-color:#ff6467;
    transform: scale(1.2);
}

.sorted {
    background-color:#7bf1a8;
    transform: scale(1);
}



/* janela de diálogo ???????/ */
.dialog{
    width: 650px;
    height: 400px;
    position: absolute;
    border: 2px solid gray;
    z-index: 1;
    background-color: #f9fafb;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    align-items: center;
}
.dialog-header{
    width: 100%;
    height: 50px;
    /*background-color: #fdc700;*/
    border-radius: 6px 6px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.dialog-header h2{
    margin-left: 20px;
}
.dialog-header button{
    width: 35px;
    height: 35px;
    margin-right: 10px;
    border-radius: 6px;
    border-style: none;
    background-color: #fdc700;
}
.dialog-body{
    width: 80%;
    height: 280px;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid black;
    overflow-y: scroll;
}



/* .dialog{
    width: 400px;
    height: 350px;
    margin-bottom: 100px;
    padding: 10px;
    background-color: #f9fafb;
    border: 5px solid #432004;
    position: absolute; 
    z-index: 1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: none;
}

.dialog-header{
    width: 90%;
    height: 15%;
    padding: 0 0% 0 10%;
    display: flex;
    justify-content: space-between;     
    align-items: center;
     background-color: #7bf1a8; 
 } 

.dialog-header button{
    width: 50px;
    height: 50px;
    border: none;
    background-color: #f9fafb;
}

.dialog-title{
    color: #432004;
    font-size: 25px;
}

.dialog-body{
    width: 100%;
    min-height: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
     background-color: #fff085; 
}

.select-container{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.dialog-body .select-container input{
    width: 25px;
    height: 25px;
}

.dialog-body input{
    width: 250px;
    height: 40px;
    border: 1px solid #432004;
    border-radius: 10px;
}


.dialog-confirm{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
     background-color: aquamarine; 
}

.dialog-confirm button{
    width: 100px;
    height: 40px;
    background-color: #fdc700;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    font-size: 100%;
}

.dialog-confirm button:active{
        box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
} */